
/*Estilos para la Navbar*/
.header .navbar-brand {
    color: white !important;
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
}

/*Estilos en general para todo nuestro documento, incluye las fuentes que se usaran en todos los elementos*/
body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1,h2 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

p{
    text-align: center;
    text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.7);
}



.images-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Tamaño del otro logo en movimiento*/
.logobody {
    display: grid;
        place-items: center; 
        height: auto;  
             
    }
#logo {

    max-width: 50%; 
    max-height: 80%;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    
}

    /*Estilo de botones de registro e inicio de sesión */
    
    .button-container {
        position: relative;
        display: inline-block;
        margin: 12px;
    }
    
    #botones {
            display: grid;
            place-items: center; 
            height: 50px; 
            background-color: #7C946C;
            border: none;
            border-radius: 10px;
            padding: 8px;
            margin: 12px;
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: white !important;
            font-size: 16.5px;
            text-align: center;
            text-decoration: none;
    }

/*Animación para el modal*/

.custom-modal {
    position: relative;
    padding: 20px;
    overflow: visible;
}

.custom-modal::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    background: linear-gradient(
      45deg,
      rgb(245, 226, 190), rgb(248, 192, 169), rgb(243, 171, 145), rgb(224, 122, 118),
      rgb(124, 148, 108), rgb(176, 210, 153), rgb(245, 226, 190), rgb(133, 133, 133)
    );
    transition: opacity 100ms;
    border-radius: 20px;
    background-size: 200%;
    background-position: absolute;
    filter: blur(16px);
    animation: glowing 20s linear infinite;
  }

@keyframes glowing {
    0% { background-position: 0 0;}
    50% { background-position: 400% 0;}
    100% { background-position: 0 0;}
}

/*Estilo para videos del carrusel*/

.carousel-item {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    border-radius: 10px;
  }

  .carousel-item video, .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }

  .carousel-control {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    opacity: 0.5;
    transition: opacity 100ms;
  }

  .carousel {
    max-width: 800px; 
    max-height: 600px; 
    margin: 0 auto; 
    padding: 20px; 
  }
  
  .carousel-inner {
    max-height: 100%;
  }
  
  .carousel video {
    max-width: 100%;
    max-height: 100%;
  }

.images-container, .about-FemTrek, .identidad-FemTrek, .signIn-signUp, .last-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #fem {
    color: #e07A76;
  }


/*Footer*/

.footer{
    background-color: #c76a67;
    padding: 20px;
    width: 100%;
}

#FooterBackground {
    background-color: #ca6f6c;
}

#FooterRibbon{
    background-image: linear-gradient(to left, #e0c89a, #e07A76);
}

#Copyright{
    background-color: rgba(0, 0, 0, 0.2);
}

#FooterLine{
    background-color: #f4e2b3;
    height: 3px;
    width: 60px;  
    position: sticky;                  
}

.mt-5{
    margin: 0%;
}

.footer .container {
    max-width: 100%;
    padding: 20px;
}

.footer .col {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .footer .col {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .footer .col {
      margin-bottom: 5px;
    }
  }

  