.header .navbar-brand {
    color: white !important;
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
}


body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    background: #F5E2BE;
}

h1 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

h2 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h3 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}
#textarea{
    resize: none;
}
.bg-green{
    border-radius: 3%;
    background: #f5e2be; /* 7c946c f3ab91 f5e2be f8c0a9*/
}


.form-label{
    color: black;
}

.icon-circle {
    
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8c0a9; 
   
    line-height: 30px;
    margin-right: 10px; 
    
}

.icon-circle i {
    color: white; 
}

.info {
    display: inline-block;
    vertical-align: center;
}

.warnings {
    color: red; /* Color del texto de advertencia */
    font-size: 14px; /* Tamaño de la fuente */
    margin-top: 10px; /* Espacio desde la parte superior del contenedor */
    text-align: center;
}
#myMap {
    width: 95%; 
    height: 220px;
}
.col-sm {
    margin-bottom: 20px; 
}

#parrafo {
    text-align: justify; 
    margin-right: 20px; 
}

#col-der {
    max-width: 470px; 
    margin-bottom: 0; 
}

