/*Estilos para la Navbar de comunidad*/

.header .navbar-brand {
    color: white !important;
   
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
    
}

.nav-user-icon img {
width: 40px; 
border-radius: 50%;
cursor: pointer;
}


/*Estilo para todo to, incluye las fuentes que se usaran en todos los elementos*/
    body {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 100;
        font-style: normal;
        background-color: #eaf6e2;
    }


    h1,h2 {
        font-family: "Hammersmith One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 20px;
    }

    p{text-align: justify;}

    h3{
        font-family: "Hammersmith One", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;

    }


/*Estilos del sidebar*/
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5px;
}
   
   

.left-sidebar{
background-color: hsl(318, 69%, 82%);
flex-basis: 25%;

margin-top:  70px;
align-self: flex-start;
position: sticky;


}

.imp-links a {

text-decoration: none;
display: flex;   
align-items: center;
margin-bottom: 30px;
color: #000000;
width: fit-content;
}

.imp-links a img {
width: 20px;
margin-right: 15px;
height: 20px;
}

.imp-links a:last-child{
    color: #0d0dfc;
}
.imp-links {
    border-bottom: 1px solid #ccc;
}


/*Estilos del feed*/
.publish-container{
    width: 100%;
    background-color: #ffff;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
    margin-top:  70px;
}

.user-profile {
    display: flex;
    
    align-items: center;
}

.user-profile img{
    width: 45px;
   border-radius: 50%;
   margin-right: 10px;
}

.user-profile p{
margin-bottom: -5px;
font-weight: 500;
color: #626262;
}

.user-profile small{
    font-size: 12px;
}

.user-profile span{
    font-size: 10px;
    
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 1px solid #64636d;
    outline: 1px solid #64636d;
    border-bottom: 1px solid #64636d;
    background-color: transparent;
    resize: none;
    
}
.add-post{
display: flex;
margin-top: 10px;
}
.add-post a{
text-decoration: none;
display: flex;
align-items: center;
color: #626262;
margin-right: 30px;
font-size: 13px;
}
.add-post a img{
width: 20px;
margin-right: 30px;
}


/* mis humildes aportes */

/*  tamaño del recuadro para publicar*/ 
.fixed-size-textarea {
    width: 80%; /* Revisar al final */
    height: 90px; /* Altura fija */
    resize: none; /* Deshabilitar el redimensionamiento */
}

/* Para que los links no esten subrayados */
.no-underline {
    text-decoration: none;
    color: black;
}
/*colores boton */
.btn-custom {
    background-color: #7c947c; /* Color de fondo */
    border-color:  #7c947c; /* Color del texto */
    border-radius: 5px;/* redondeo*/
    color: white;
}
.btn-custom:hover {
    background-color: #e07a76;
    border-color:#e07a76; /* Color de fondo al pasar el mouse */
}


.list-group-item-custom {

    background-blend-mode: darken;
    color: #000; 
}

/* pruebas para etiquetas*/
.button {
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 10px; 
    /* Arriba | Derecha | Abajo | Izquierda */
    cursor: pointer;
  }
  
  .button1 {background-color: #7c947c;} /* Green */
  .button2 {background-color: #e07a76;} /* Blue */
  .button3 {background-color: #f3ab91;} /* Blue */
  