/*Estilos para la Navbar*/
.header .navbar-brand {
    color: white !important;
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
}

body {
    background-color: #F8C0A9;
    font-family: "Josefin Sans";
    font-weight: 400;
}

#logo {
    width: 250px;
    height: 80px;
}

img {
    width: 10;
    height: 400px;
    margin: 15px;
    padding: 10;
    border-radius: 20px;
}