/*Estilos para la Navbar*/
.header .navbar-brand {
    color: white !important;
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
    
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
}



    body {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    h1,h2 {
        font-family: "Hammersmith One", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 20px;
    }

h3 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

/* Contenedor principal*/

.container {
    margin-top: 40px;
    background: rgb(234, 238, 226);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(114, 5, 5, 0.1);
    text-align: center;
    width: 400px;
   
}


/* Estilos básicos para el formulario y el botón */
 .profile-pic-container {
    text-align: center;
}

.profile-pic-container img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-pic-container input[type="file"] {
    display: none;
}

.profile-pic-container label {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ea1896;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-pic-container label:hover {
    background-color: #66c506;
}

/*  Cambiar foto  de portada */

.portada-pic-container { 
    text-align: center;
}

.portada-pic-container img {
    margin-top: 5px;
    width: 100%;
    height: 300px;
    object-fit: cover;  /*para asegurarse de que la imagen se ajuste correctamente.*/
}    
    
.portada-pic-container input[type="file"] {
    display: none;
}

.portada-pic-container label {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #df0db8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.portada-pic-container label:hover {
    background-color: #2db300;
}







form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    text-align: left;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #f3d8d8;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff006f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #efe465;
}

.deleteAccount {
    margin-top: 20px;
    text-align: left;
}

.deleteAccount p {
    margin: 5px 0;
}